.components {
    width: 60%;
    margin: 0 auto;
}

.text {
    width: 50%;
    margin: 0 auto 2rem auto;
    letter-spacing: 1px;
    font-size: 1.05rem;
    line-height: 150%;
}


@media only screen and (max-width: 768px) {
    .components, .text {
        width: 90%;
    }
}